# See /boot/overlays/README for all available options

gpu_mem={{ gpumem }}
disable_overscan=1
enable_uart=0
force_turbo=0
hdmi_ignore_cec_init=1
disable_splash=1
force_hdmi_open=1

initramfs initramfs-linux.img followkernel
